

:root {
  font-family: "Times New Roman", Times, serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --fundo-claro: #f3f1e7; /* Lemon Chiffon */
  --fundo: #efe7bf; /* Khaki */
  --botao: #a36c2f; /* Goldenrod */
  --text-color: #333;
  --error-color: #D32F2F;
  --border-color: #CCC;

}

body {
  margin: 0;
  /* padding: 0 40px;  <-- APAGUE OU COMENTE ESTA LINHA */
  background-color: #efe7bf;
  color: #a36c2f;
  font-family: "Times New Roman", Times, serif;
}